.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  background: #14171b;
  padding:1em;
  color:rgb(145, 143, 143);
}

.content {
  padding:1em;
  font-size: 1.4em;
  background: #282c34;
  color:rgb(161, 161, 161);
}

/********** Footer ***************/
.footer {
  background-color: #14171b;
  color: #fff;
  padding: 1em;
  margin: 0;
  text-align: center;
}

/********** customization of buttons and font awesome contact icons***************/
.contact {
  margin-left: auto;
  margin-right: auto;
}

.contact-logo-holder {
  text-align: center;
}

.contact-link {
  text-decoration: unset;
  padding: 5px;
}

.heart {
  color: #ec3e2e;
}

.github {
  color: #b2bfcc;
}

.linkedin {
  color: #0077b5;
}

.twitter {
  color: #1da1f3;
}

.google {
  color: #dc4538;
}

.facebook {
  color: #3b5998;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
